openapi: '3.0.0'

info:
  title: Presto Pay
  description: 割り勘アプリ API設計
  version: 0.2.0

servers:
  - url: https://api.presto-pay-stg.calmato.work/v1
    description: 検証環境
  - url: http://localhost:8080/v1
    description: 開発環境

paths:
  /auth:
    get:
      summary: ログインユーザー情報取得
      security:
        - BearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ShowProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Unkown'

    post:
      summary: ユーザー登録
      requestBody:
        $ref: '#/components/requestBodies/CreateUser'
      responses:
        '200':
          $ref: '#/components/responses/CreateUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

    patch:
      summary: ログインユーザー情報編集
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateUser'
      responses:
        '200':
          $ref: '#/components/responses/UpdateUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

  /auth/password:
    patch:
      summary: ログインユーザーパスワード編集
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateUserPassword'
      responses:
        '200':
          $ref: '#/components/responses/Empty'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

  /users:
    get:
      summary: ユーザー検索
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: username
          schema:
            type: string
          required: true
          description: ユーザー名
        - in: query
          name: after
          schema:
            type: string
            format: uuid
          description: WIP - ページネーションみたいなの作りたい
      responses:
        '200':
          $ref: '#/components/responses/IndexUsers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Unkown'

  /users/{userId}:
    get:
      summary: ユーザー情報取得
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: userId
          schema:
            type: string
            format: uuid
          required: true
          description: ユーザーUUID
      responses:
        '200':
          $ref: '#/components/responses/ShowUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Unkown'

  /users/check-email:
    post:
      summary: ユーザー メールアドレスユニーク検証
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/UniqueCheckUserEmail'
      responses:
        '200':
          $ref: '#/components/responses/UniqueCheck'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Unkown'

  /users/check-username:
    post:
      summary: ユーザー ユーザー名ユニーク検証
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/UniqueCheckUserUsername'
      responses:
        '200':
          $ref: '#/components/responses/UniqueCheck'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Unkown'

  /groups:
    get:
      summary: グループ一覧
      security:
        - BearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/IndexGroups'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Unkown'

    post:
      summary: グループ作成
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateGroup'
      responses:
        '200':
          $ref: '#/components/responses/CreateGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    Error:
      title: エラーレスポンス
      type: object
      properties:
        status:
          type: integer
          description: HTTPステータスコード
        code:
          type: integer
          description: エラー管理用ステータスコード
        message:
          type: string
          description: エラーメッセージ
        errors:
          type: array
          description: エラー詳細
          items:
            properties:
              field:
                type: string
              message:
                type: string

  requestBodies:
    CreateUser:
      description: ユーザー登録APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnail:
                type: string
                description: サムネイル
              password:
                type: string
                format: password
                description: パスワード
              passwordConfirmation:
                type: string
                format: password
                description: パスワード(確認用)
            required:
              - name
              - username
              - email
              - password
              - passwordConfirmation

    UpdateUser:
      description: ユーザー編集APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnail:
                type: string
                description: サムネイル
            required:
              - name
              - username
              - email

    UpdateUserPassword:
      description: ユーザー パスワード編集APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              password:
                type: string
                format: password
                description: パスワード
              passwordConfirmation:
                type: string
                format: password
                description: パスワード(確認用)
            required:
              - password
              - passwordConfirmation

    UniqueCheckUserEmail:
      description: ユーザー メールアドレスユニーク検証APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              email:
                type: string
                description: メールアドレス

    UniqueCheckUserUsername:
      description: ユーザー ユーザー名ユニーク検証APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              username:
                type: string
                description: ユーザー名

    CreateGroup:
      description: グループ作成
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: グループ名
              thumbnail:
                type: string
                description: サムネイル
              userIds:
                type: array
                description: ユーザーID一覧
                items:
                  type: string
                  format: uuid
            required:
              - name

  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: NotFound
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unkown:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Empty:
      description: 空のレスポンス
      content:
        application/json:
          schema:
            type: object

    UniqueCheck:
      description: ユニーク検証のレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              uniqueCheck:
                type: boolean
                description: ユニーク検証結果

    ShowProfile:
      description: 認証情報取得APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnail:
                type: string
                description: サムネイルURL
              groupIds:
                type: array
                description: グループID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    IndexUsers:
      description: ユーザー一覧取得APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              users:
                type: array
                description: ユーザー一覧
                items:
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: ユーザーID
                    name:
                      type: string
                      description: 表示名
                    username:
                      type: string
                      description: ユーザー名
                    email:
                      type: string
                      format: email
                      description: メールアドレス
                    thumbnail:
                      type: string
                      description: サムネイルURL
                    groupIds:
                      type: array
                      description: グループID一覧
                      items:
                        type: string
                        format: uuid


    ShowUser:
      description: ユーザー情報取得APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnail:
                type: string
                description: サムネイルURL
              groupIds:
                type: array
                description: グループID一覧
                items:
                  type: string
                  format: uuid

    CreateUser:
      description: ユーザー登録APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnail:
                type: string
                description: サムネイルURL
              groupIds:
                type: array
                description: グループID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    UpdateUser:
      description: ユーザー編集APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnailUrl:
                type: string
                description: サムネイルURL
              groupIds:
                type: array
                description: グループID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    IndexGroups:
      description: グループ一覧取得APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              groups:
                type: array
                description: グループ一覧
                items:
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: グループID
                    name:
                      type: string
                      description: グループ名
                    thumbnailUrl:
                      type: string
                      description: サムネイルURL
                    users:
                      type: array
                      description: ユーザー一覧
                      items:
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: ユーザーID
                          name:
                            type: string
                            description: 表示名
                          username:
                            type: string
                            description: ユーザー名
                          email:
                            type: string
                            format: email
                            description: メールアドレス
                          thumbnail:
                            type: string
                            description: サムネイルURL
                    createdAt:
                      type: string
                      format: date-time
                      description: 作成日時
                    updatedAt:
                      type: string
                      format: date-time
                      description: 更新日時

    CreateGroup:
      description: グループ作成APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: グループID
              name:
                type: string
                description: グループ名
              thumbnailUrl:
                type: string
                description: サムネイルURL
              userIds:
                type: array
                description: ユーザーID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時
