openapi: '3.0.0'

info:
  title: Presto Pay
  description: 割り勘アプリ API設計
  version: 0.2.0

servers:
  - url: https://api.presto-pay-stg.calmato.work/v1
    description: 検証環境
  - url: http://localhost:8080/v1
    description: 開発環境

paths:
  /auth:
    get:
      summary: ログインユーザー情報取得
      security:
        - BearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ShowProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Unkown'

    post:
      summary: ユーザー登録
      requestBody:
        $ref: '#/components/requestBodies/CreateUser'
      responses:
        '200':
          $ref: '#/components/responses/CreateUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

    patch:
      summary: ログインユーザー情報編集
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateUser'
      responses:
        '200':
          $ref: '#/components/responses/UpdateUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

  /auth/password:
    patch:
      summary: ログインユーザーパスワード編集
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateUserPassword'
      responses:
        '200':
          $ref: '#/components/responses/Empty'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

  /auth/friends:
    get:
      summary: 友達一覧取得
      security:
        - BearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/IndexUsers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Unkown'

    post:
      summary: 友達追加
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/AddFriend'
      responses:
        '200':
          $ref: '#/components/responses/AddFriend'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

  /auth/friends/{userId}:
    delete:
      summary: 友達削除
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: ユーザーID
      responses:
        '200':
          $ref: '#/components/responses/RemoveFriend'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Unkown'

  /auth/device:
    post:
      summary: デバイスID登録
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/RegisterInstanceID'
      responses:
        '200':
          $ref: '#/components/responses/RegisterInstanceID'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

  /users:
    get:
      summary: ユーザー検索
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: username
          schema:
            type: string
          required: true
          description: ユーザー名
        - in: query
          name: after
          schema:
            type: string
            format: uuid
          description: WIP - ページネーションみたいなの作りたい
      responses:
        '200':
          $ref: '#/components/responses/IndexUsers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Unkown'

  /users/{userId}:
    get:
      summary: ユーザー詳細取得
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: userId
          schema:
            type: string
            format: uuid
          required: true
          description: ユーザーUUID
      responses:
        '200':
          $ref: '#/components/responses/ShowUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Unkown'

  /users/check-email:
    post:
      summary: ユーザー メールアドレスユニーク検証
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/UniqueCheckUserEmail'
      responses:
        '200':
          $ref: '#/components/responses/UniqueCheck'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Unkown'

  /users/check-username:
    post:
      summary: ユーザー ユーザー名ユニーク検証
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/UniqueCheckUserUsername'
      responses:
        '200':
          $ref: '#/components/responses/UniqueCheck'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Unkown'

  /groups:
    get:
      summary: グループ一覧取得
      security:
        - BearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/IndexGroups'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Unkown'

    post:
      summary: グループ作成
      security:
        - BearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateGroup'
      responses:
        '200':
          $ref: '#/components/responses/CreateGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

  /groups/{groupId}:
    get:
      summary: グループ詳細取得
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
      responses:
        '200':
          $ref: '#/components/responses/ShowGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Unkown'

    patch:
      summary: グループ編集
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
      requestBody:
        $ref: '#/components/requestBodies/UpdateGroup'
      responses:
        '200':
          $ref: '#/components/responses/UpdateGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Unkown'

    delete:
      summary: グループ削除
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
      responses:
        '200':
          $ref: '#/components/responses/Empty'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Unkown'

  /groups/{groupId}/users:
    post:
      summary: グループ ユーザー追加
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
      requestBody:
        $ref: '#/components/requestBodies/AddUsersInGroup'
      responses:
        '200':
          $ref: '#/components/responses/AddUsersInGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Unkown'

    delete:
      summary: グループ ユーザー削除
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
      requestBody:
        $ref: '#/components/requestBodies/RemoveUsersInGroup'
      responses:
        '200':
          $ref: '#/components/responses/RemoveUsersInGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Unkown'

  /groups/{groupId}/payments-status:
    patch:
      summary: 支払い完了フラグ一括更新 (trueのみ)
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
      responses:
        '200':
          $ref: '#/components/responses/UpdatePayments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Unkown'

  /groups/{groupId}/payments-status/{paymentId}:
    patch:
      summary: 支払い完了フラグ更新
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
        - in: path
          name: paymentId
          schema:
            type: string
            format: uuid
          required: true
          description: 支払いUUID
      responses:
        '200':
          $ref: '#/components/responses/UpdatePayment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Unkown'

  /groups/{groupId}/payments:
    get:
      summary: 支払い情報一覧取得
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
        - in: query
          name: after
          schema:
            type: string
            format: uuid
          description: TODO - 50件以上取得するときように使えるように
      responses:
        '200':
          $ref: '#/components/responses/IndexPayments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Unkown'

    post:
      summary: 支払い情報追加
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
      requestBody:
        $ref: '#/components/requestBodies/CreatePayment'
      responses:
        '200':
          $ref: '#/components/responses/CreatePayment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Unkown'

  /groups/{groupId}/payments/{paymentId}:
    patch:
      summary: 支払い情報更新
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
        - in: path
          name: paymentId
          schema:
            type: string
            format: uuid
          required: true
          description: 支払いUUID
      requestBody:
        $ref: '#/components/requestBodies/UpdatePayment'
      responses:
        '200':
          $ref: '#/components/responses/UpdatePayment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Unkown'

    delete:
      summary: 支払い情報削除
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
        - in: path
          name: paymentId
          schema:
            type: string
            format: uuid
          required: true
          description: 支払いUUID
      responses:
        '200':
          $ref: '#/components/responses/Empty'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Unkown'

  /groups/{groupId}/payments/{paymentId}/payers/{payerId}:
    patch:
      summary: 支払い情報 支払い者情報更新
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: groupId
          schema:
            type: string
            format: uuid
          required: true
          description: グループUUID
        - in: path
          name: paymentId
          schema:
            type: string
            format: uuid
          required: true
          description: 支払いUUID
        - in: path
          name: payerId
          schema:
            type: string
            format: uuid
          required: true
          description: ユーザーUUID
      requestBody:
        $ref: '#/components/requestBodies/UpdatePayerInPayment'
      responses:
        '200':
          $ref: '#/components/responses/UpdatePayment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Unkown'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    Error:
      title: エラーレスポンス
      type: object
      properties:
        status:
          type: integer
          description: HTTPステータスコード
        code:
          type: integer
          description: エラー管理用ステータスコード
        message:
          type: string
          description: エラーメッセージ
        errors:
          type: array
          description: エラー詳細
          items:
            properties:
              field:
                type: string
              message:
                type: string

  requestBodies:
    CreateUser:
      description: ユーザー登録APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnail:
                type: string
                description: サムネイル
              password:
                type: string
                format: password
                description: パスワード
              passwordConfirmation:
                type: string
                format: password
                description: パスワード(確認用)
            required:
              - name
              - username
              - email
              - password
              - passwordConfirmation

    UpdateUser:
      description: ユーザー編集APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnail:
                type: string
                description: サムネイル
            required:
              - name
              - username
              - email

    UpdateUserPassword:
      description: ユーザー パスワード編集APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              password:
                type: string
                format: password
                description: パスワード
              passwordConfirmation:
                type: string
                format: password
                description: パスワード(確認用)
            required:
              - password
              - passwordConfirmation

    AddFriend:
      description: 友達追加APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              userId:
                type: string
                format: uuid
                description: ユーザーID
            required:
              - userId

    RegisterInstanceID:
      description: デバイスID登録APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              instanceId:
                type: string
                description: デバイスのID
            required:
              - instanceId

    UniqueCheckUserEmail:
      description: ユーザー メールアドレスユニーク検証APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              email:
                type: string
                description: メールアドレス

    UniqueCheckUserUsername:
      description: ユーザー ユーザー名ユニーク検証APIのリクエスト
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              username:
                type: string
                description: ユーザー名

    CreateGroup:
      description: グループ作成
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: グループ名
              thumbnail:
                type: string
                description: サムネイル
              userIds:
                type: array
                description: ユーザーID一覧
                items:
                  type: string
                  format: uuid
            required:
              - name

    UpdateGroup:
      description: グループ編集
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: グループ名
              thumbnail:
                type: string
                description: サムネイル
              userIds:
                type: array
                description: ユーザーID一覧
                items:
                  type: string
                  format: uuid
            required:
              - name

    AddUsersInGroup:
      description: グループ ユーザー追加
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              userIds:
                type: array
                description: ユーザーID一覧
                items:
                  type: string
                  format: uuid

    RemoveUsersInGroup:
      description: グループ ユーザー削除
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              userIds:
                type: array
                description: ユーザーID一覧
                items:
                  type: string
                  format: uuid

    CreatePayment:
      description: 支払い情報追加
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 支払い名
              currency:
                type: string
                description: 通貨
              total:
                type: integer
                description: 合計金額
              payers:
                type: array
                description: 支払い者一覧
                items:
                  properties:
                    id:
                      type: string
                      description: ユーザーID
                    amount:
                      type: integer
                      description: 支払い金額
              tags:
                type: array
                description: タグ一覧
                items:
                  type: string
              comment:
                type: string
                description: コメント
              images:
                type: array
                description: 添付画像一覧
                items:
                  type: string
              paidAt:
                type: string
                format: date-time
                description: 支払い日時
            required:
              - name
              - total
              - paidAt

    UpdatePayment:
      description: 支払い情報編集
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 支払い名
              currency:
                type: string
                description: 通貨
              total:
                type: integer
                description: 合計金額
              payers:
                type: array
                description: 支払い者一覧
                items:
                  properties:
                    id:
                      type: string
                      description: ユーザーID
                    amount:
                      type: integer
                      description: 支払い金額
                    isPaid:
                      type: boolean
                      description: 支払い完了フラグ
              isCompleted:
                type: boolean
                description: 支払い完了フラグ
              tags:
                type: array
                description: タグ一覧
                items:
                  type: string
              comment:
                type: string
                description: コメント
              images:
                type: array
                description: 添付画像一覧
                items:
                  type: string
              paidAt:
                type: string
                format: date-time
                description: 支払い日時
            required:
              - name
              - total
              - isCompleted
              - paidAt

    UpdatePayerInPayment:
      description: 支払い情報 支払い者情報編集
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              isPaid:
                type: boolean
                description: 支払い完了フラグ
            required:
              - isPaid

  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: NotFound
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unkown:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Empty:
      description: 空のレスポンス
      content:
        application/json:
          schema:
            type: object

    UniqueCheck:
      description: ユニーク検証のレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              uniqueCheck:
                type: boolean
                description: ユニーク検証結果

    ShowProfile:
      description: 認証情報取得APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnailUrl:
                type: string
                description: サムネイルURL
              groupIds:
                type: array
                description: グループID一覧
                items:
                  type: string
                  format: uuid
              friendIds:
                type: array
                description: 友達ID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    IndexUsers:
      description: ユーザー一覧取得APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              users:
                type: array
                description: ユーザー一覧
                items:
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: ユーザーID
                    name:
                      type: string
                      description: 表示名
                    username:
                      type: string
                      description: ユーザー名
                    email:
                      type: string
                      format: email
                      description: メールアドレス
                    thumbnailUrl:
                      type: string
                      description: サムネイルURL

    ShowUser:
      description: ユーザー情報取得APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnailUrl:
                type: string
                description: サムネイルURL

    CreateUser:
      description: ユーザー登録APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnailUrl:
                type: string
                description: サムネイルURL
              groupIds:
                type: array
                description: グループID一覧
                items:
                  type: string
                  format: uuid
              friendIds:
                type: array
                description: 友達ID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    RegisterInstanceID:
      description: デバイスID登録APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnailUrl:
                type: string
                description: サムネイルURL
              groupIds:
                type: array
                description: グループID一覧
                items:
                  type: string
                  format: uuid
              friendIds:
                type: array
                description: 友達ID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    UpdateUser:
      description: ユーザー編集APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnailUrl:
                type: string
                description: サムネイルURL
              groupIds:
                type: array
                description: グループID一覧
                items:
                  type: string
                  format: uuid
              friendIds:
                type: array
                description: 友達ID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    AddFriend:
      description: 友達追加APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnailUrl:
                type: string
                description: サムネイルURL
              groupIds:
                type: array
                description: グループID一覧
                items:
                  type: string
                  format: uuid
              friendIds:
                type: array
                description: 友達ID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    RemoveFriend:
      description: 友達削除APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ユーザーID
              name:
                type: string
                description: 表示名
              username:
                type: string
                description: ユーザー名
              email:
                type: string
                format: email
                description: メールアドレス
              thumbnailUrl:
                type: string
                description: サムネイルURL
              groupIds:
                type: array
                description: グループID一覧
                items:
                  type: string
                  format: uuid
              friendIds:
                type: array
                description: 友達ID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    IndexGroups:
      description: グループ一覧取得APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              groups:
                type: array
                description: グループ一覧
                items:
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: グループID
                    name:
                      type: string
                      description: グループ名
                    thumbnailUrl:
                      type: string
                      description: サムネイルURL
                    userIds:
                      type: array
                      description: ユーザーID一覧
                      items:
                        type: string
                        format: uuid
                    createdAt:
                      type: string
                      format: date-time
                      description: 作成日時
                    updatedAt:
                      type: string
                      format: date-time
                      description: 更新日時


    ShowGroup:
      description: グループ詳細取得APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: グループID
              name:
                type: string
                description: グループ名
              thumbnailUrl:
                type: string
                description: サムネイルURL
              users:
                type: array
                description: ユーザー一覧
                items:
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: ユーザーID
                    name:
                      type: string
                      description: 表示名
                    username:
                      type: string
                      description: ユーザー名
                    email:
                      type: string
                      format: email
                      description: メールアドレス
                    thumbnailUrl:
                      type: string
                      description: サムネイルURL
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    CreateGroup:
      description: グループ作成APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: グループID
              name:
                type: string
                description: グループ名
              thumbnailUrl:
                type: string
                description: サムネイルURL
              userIds:
                type: array
                description: ユーザーID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    UpdateGroup:
      description: グループ編集APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: グループID
              name:
                type: string
                description: グループ名
              thumbnailUrl:
                type: string
                description: サムネイルURL
              userIds:
                type: array
                description: ユーザーID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    AddUsersInGroup:
      description: グループ ユーザー追加APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: グループID
              name:
                type: string
                description: グループ名
              thumbnailUrl:
                type: string
                description: サムネイルURL
              userIds:
                type: array
                description: ユーザーID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    RemoveUsersInGroup:
      description: グループ ユーザー削除APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: グループID
              name:
                type: string
                description: グループ名
              thumbnailUrl:
                type: string
                description: サムネイルURL
              userIds:
                type: array
                description: ユーザーID一覧
                items:
                  type: string
                  format: uuid
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string
                format: date-time
                description: 更新日時

    CreatePayment:
      description: 支払い情報追加APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: 支払いID
              groupId:
                type: string
                format: uuid
                description: グループID
              name:
                type: string
                description: 支払い名
              currency:
                type: string
                description: 通貨
              total:
                type: integer
                description: 合計金額
              payers:
                type: array
                description: 支払い者一覧
                items:
                  properties:
                    id:
                      type: string
                      description: ユーザーID
                    amount:
                      type: integer
                      description: 支払い金額
                    isPaid:
                      type: boolean
                      description: 支払い完了フラグ
              isCompleted:
                type: boolean
                description: 支払い完了フラグ
              tags:
                type: array
                description: タグ一覧
                items:
                  type: string
              comment:
                type: string
                description: コメント
              imageUrls:
                type: array
                description: 添付画像一覧
                items:
                  type: string
              paidAt:
                type: string
                format: date-time
                description: 支払い日時
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string

    UpdatePayment:
      description: 支払い情報編集APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: 支払いID
              groupId:
                type: string
                format: uuid
                description: グループID
              name:
                type: string
                description: 支払い名
              currency:
                type: string
                description: 通貨
              total:
                type: integer
                description: 合計金額
              payers:
                type: array
                description: 支払い者一覧
                items:
                  properties:
                    id:
                      type: string
                      description: ユーザーID
                    amount:
                      type: integer
                      description: 支払い金額
                    isPaid:
                      type: boolean
                      description: 支払い完了フラグ
              isCompleted:
                type: boolean
                description: 支払い完了フラグ
              tags:
                type: array
                description: タグ一覧
                items:
                  type: string
              comment:
                type: string
                description: コメント
              imageUrls:
                type: array
                description: 添付画像一覧
                items:
                  type: string
              paidAt:
                type: string
                format: date-time
                description: 支払い日時
              createdAt:
                type: string
                format: date-time
                description: 作成日時
              updatedAt:
                type: string

    IndexPayments:
      description: 支払い情報一覧取得APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              payments:
                type: array
                description: 支払い一覧
                items:
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: 支払いID
                    groupId:
                      type: string
                      format: uuid
                      description: グループID
                    name:
                      type: string
                      description: 支払い名
                    currency:
                      type: string
                      description: 通貨
                    total:
                      type: integer
                      description: 合計金額
                    payers:
                      type: array
                      description: 支払い者一覧
                      items:
                        properties:
                          id:
                            type: string
                            description: ユーザーID
                          name:
                            type: string
                            description: ユーザー名
                          amount:
                            type: integer
                            description: 支払い金額
                          isPaid:
                            type: boolean
                            description: 支払い完了フラグ
                    isCompleted:
                      type: boolean
                      description: 支払い完了フラグ
                    tags:
                      type: array
                      description: タグ一覧
                      items:
                        type: string
                    comment:
                      type: string
                      description: コメント
                    imageUrls:
                      type: array
                      description: 添付画像一覧
                      items:
                        type: string
                    paidAt:
                      type: string
                      format: date-time
                      description: 支払い日時
                    createdAt:
                      type: string
                      format: date-time
                      description: 作成日時
                    updatedAt:
                      type: string

    UpdatePayments:
      description: 支払い情報一括更新APIのレスポンス
      content:
        application/json:
          schema:
            type: object
            properties:
              payments:
                type: array
                description: 支払い一覧
                items:
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: 支払いID
                    groupId:
                      type: string
                      format: uuid
                      description: グループID
                    name:
                      type: string
                      description: 支払い名
                    currency:
                      type: string
                      description: 通貨
                    total:
                      type: integer
                      description: 合計金額
                    payers:
                      type: array
                      description: 支払い者一覧
                      items:
                        properties:
                          id:
                            type: string
                            description: ユーザーID
                          name:
                            type: string
                            description: ユーザー名
                          amount:
                            type: integer
                            description: 支払い金額
                          isPaid:
                            type: boolean
                            description: 支払い完了フラグ
                    isCompleted:
                      type: boolean
                      description: 支払い完了フラグ
                    tags:
                      type: array
                      description: タグ一覧
                      items:
                        type: string
                    comment:
                      type: string
                      description: コメント
                    imageUrls:
                      type: array
                      description: 添付画像一覧
                      items:
                        type: string
                    paidAt:
                      type: string
                      format: date-time
                      description: 支払い日時
                    createdAt:
                      type: string
                      format: date-time
                      description: 作成日時
                    updatedAt:
                      type: string
